const UncontrolledForm = (onSubmit) => {
  let nameEl = null;
  let emailEl = null;

  function handleSubmit(e, onSubmit) {
    onSubmit(nameEl.value, emailEl.value);
  }

  return (
    <form onSubmit={handleSubmit(onSubmit)}>
      <input name="name" ref={(input) => { nameEl = input }} />
      <input name="email" ref={(input) => { emailEl = input }}  />
      <button type="submit">Add User</button>
    </form>
  );
}
