const Form = ({ handleSubmit }) => (
  <form onSubmit={handleSubmit}>
    <Field name="name" component="input" type="text" />
    <Field name="email" component="input" type="text" />
    <button type="submit">Add User</button>
  </form>
);
